*{
  margin: 5;
  padding: 0;
}

html{
  margin: 0;
  background-color: rgb(38,38,38);
  color: rgb(255,255,255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

body { 
  margin: 0;
}

#title-bar{
  color: rgb(255,255,255);
  /* margin: 0; */
  margin-bottom: 5%;
  padding: 12px;
  width: 100%;
  background-color: rgb(49,120,198);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin-left: 10%;
  /* width: 100%; */
  /* background-color: rgb(49,120,198); typescript blue */
  /* border-color: #d3e644; */
  /* border-style: dashed; */
}

h2, h3 {
  color: rgb(255,255,255);
  margin-bottom: 3%;
  margin-top: 1%;
  /* padding: 12px; */
  width: 100%;
  /* background-color: rgb(49,120,198); */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif */
  font-weight: 100;
}

h3 {
  margin-top: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container > div{
  width: 96%;
  border: 1px solid rgb(56, 56, 56);
  background-color: rgb(49,49,49);
  padding: 5px;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#example-card {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 5px;
  width: 96%;
  padding: 12px;
}

#typeof-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#typeof-table td, #typeof-table th {
  padding: 8px;
}

#typeof-table td {
  border-top: 1px solid #757575;
}

#typeof-table tr:nth-child(even){background-color: #525252;}

#typeof-table tr:hover {background-color: rgb(122, 118, 118);}

#typeof-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

#demo {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}